In [1]:
from pymongo import MongoClient
from config import *

client = MongoClient()
client = MongoClient(connectionString)
database = client['masters']
database.rates

Collection(Database(MongoClient(host=['masters-shard-00-00.cpq5u.mongodb.net:27017', 'masters-shard-00-01.cpq5u.mongodb.net:27017', 'masters-shard-00-02.cpq5u.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-wrhudr-shard-0', tls=True), 'masters'), 'rates')

## User part

In [2]:
def get_rates_by_user(user):
    cursor = database.rates.aggregate([
        {
            "$unwind": "$reviews"
        },
        {
            '$match' : {'reviews.user._id' : user}
        },
        {
            '$project': {
                'bookId': '$bookId',
                'rate': '$reviews.rate'
                }
        }
    ])
    return list(cursor)    

def get_books_by_ids(bookIds):
    cursor = database.books.aggregate([
        {
            '$match' : {'_id' : { '$in' : bookIds }}
        },
        {
            '$project': {
                'title': '$title',
                'description': '$description',
                'genres': '$genres.name',
                'author': '$author.name'
                }
        }
    ])
    return list(cursor)

def get_books_not_in_ids(bookIds):
    cursor = database.books.aggregate([
        {
            '$match' : {'_id' : { '$nin' : bookIds }}
        },
        {
            '$project': {
                'title': '$title',
                'description': '$description',
                'genres': '$genres.name',
                'author': '$author.name'
                }
        }
    ])
    return list(cursor)

def get_books():
    cursor = database.books.aggregate([
        {
            '$project': {
                'title': '$title',
                'description': '$description',
                'genres': '$genres.name',
                'author': '$author.name'
                }
        }
    ])
    return list(cursor)

In [3]:
from bson.objectid import ObjectId
import pandas as pd

user_rates = get_rates_by_user(ObjectId("620bb9fef23b1bc78052c5e6"))
user_rates

rates_df = pd.DataFrame(user_rates)
rates_df.drop("_id", axis=1, inplace=True)
bookdIds = list(rates_df.bookId)

books = get_books()#[:5]
books_df = pd.DataFrame(books)

main_df = pd.merge(books_df, rates_df, how="left", left_on="_id", right_on="bookId")
main_df.drop("bookId", axis=1, inplace=True)
main_df.genres = [' '.join(map(str, l)) for l in main_df.genres]

columns_to_join = ["title", "description", "genres"]
main_df['full_desc'] = main_df[columns_to_join].T.agg(' '.join)
main_df.drop(columns_to_join, axis=1, inplace=True)
main_df

,_id,author,rate,full_desc
0,630602ac073e94de49556747,Hajime Isayama,NaN,Attack on Titan: Volume 13 NO SAFE PLACE LEFT ...
1,630602ac073e94de4955674d,J.M. Barlog,NaN,God of War: The Official Novelization The nove...
2,630602ac073e94de4955674b,Peter V. Brett,NaN,"The Painted Man (The Demon Cycle, Book 1) The ..."
3,630602ac073e94de49556751,Andrzej Sapkowski,4.0,Sword of Destiny: Witcher 2: Tales of the Witc...
4,630602ac073e94de49556758,Story by FUSE,NaN,That Time I got Reincarnated as a Slime 11 Mik...
...,...,...,...,...
241,630602ac073e94de49556820,Alvin Hall,NaN,The Secrets of Saving and Investing with Alvin...
242,630602ac073e94de495567f3,Voltaire,NaN,Candide Voltaire’s satire of eighteenth-centur...
243,630602ac073e94de4955680a,Blake Pierce,NaN,Once Missed (A Riley Paige Mystery—Book 16) “A...
244,630602ac073e94de49556818,André Aciman,NaN,Find Me: A TOP TEN SUNDAY TIMES BESTSELLER In ...
245,630602ac073e94de4955682d,David J. Schwartz,NaN,The Magic of Thinking Big The timeless and pra...

In [4]:
import string, nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

def text_preprocess(sample):
    # lower-casing
    lower_text = sample.lower()

    entry_no_punct = lower_text.translate(str.maketrans('', '', string.punctuation))

    # word-level tokenization
    words = word_tokenize(entry_no_punct)

    # stopwords removal
    stops = stopwords.words('english')
    clean = [word for word in words if word not in stops]

    ps = PorterStemmer()
    # using Porter stemmer to stem our sentence
    stemmed_list = [ps.stem(w) for w in clean]

    return ' '.join(stemmed_list)

In [5]:
main_df["full_desc"] = main_df['full_desc'].apply(text_preprocess)
main_df

,_id,author,rate,full_desc
0,630602ac073e94de49556747,Hajime Isayama,NaN,attack titan volum 13 safe place left great co...
1,630602ac073e94de4955674d,J.M. Barlog,NaN,god war offici novel novel highli anticip god ...
2,630602ac073e94de4955674b,Peter V. Brett,NaN,paint man demon cycl book 1 stun debut fantasi...
3,630602ac073e94de49556751,Andrzej Sapkowski,4.0,sword destini witcher 2 tale witcher geralt wi...
4,630602ac073e94de49556758,Story by FUSE,NaN,time got reincarn slime 11 mikami ’ middl age ...
...,...,...,...,...
241,630602ac073e94de49556820,Alvin Hall,NaN,secret save invest alvin hall simpl strategi m...
242,630602ac073e94de495567f3,Voltaire,NaN,candid voltair ’ satir eighteenthcenturi europ...
243,630602ac073e94de4955680a,Blake Pierce,NaN,miss riley paig mystery—book 16 “ masterpiec t...
244,630602ac073e94de49556818,André Aciman,NaN,find top ten sunday time bestsel find aciman s...
245,630602ac073e94de4955682d,David J. Schwartz,NaN,magic think big timeless practic advic magic t...

In [6]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
  
main_df['author']= label_encoder.fit_transform(main_df['author'])

# train_df = main_df[~mask]
# predict_df = main_df[mask]

# mask_var = main_df['rate'].isnull()  
# mask = main_df.index.isin(main_df.index.values) & main_df.rate.isnull()
main_df.sort_values('rate', inplace=True)
mask = main_df.index.isin(main_df.index.values) & main_df.rate.isnull()
display(main_df)

test_amount = len(main_df[mask])
print(test_amount)

,_id,author,rate,full_desc
15,630602ac073e94de49556761,162,1.0,introduc critic theori graphic guid last decad...
98,630602ac073e94de4955676b,134,1.0,daylight war book three demon cycl new york ti...
232,630602ac073e94de49556836,173,1.0,injustic god among us year one complet collect...
5,630602ac073e94de49556774,121,2.0,youll never see daylight michaella regular gir...
20,630602ac073e94de49556791,51,3.0,perman record new york time bestsel edward sno...
...,...,...,...,...
241,630602ac073e94de49556820,5,NaN,secret save invest alvin hall simpl strategi m...
242,630602ac073e94de495567f3,176,NaN,candid voltair ’ satir eighteenthcenturi europ...
243,630602ac073e94de4955680a,14,NaN,miss riley paig mystery—book 16 “ masterpiec t...
244,630602ac073e94de49556818,7,NaN,find top ten sunday time bestsel find aciman s...
245,630602ac073e94de4955682d,35,NaN,magic think big timeless practic advic magic t...

232

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split

def transform(text):
    cv_transf = CountVectorizer()
    tfidf_transf = TfidfTransformer()
    cv_transf.fit(text)
    result = cv_transf.transform(text)
    # tfidf_transf.fit(cv_metrix)
    # result = tfidf_transf.transform(cv_metrix)
    return result

In [8]:
from scipy.sparse import hstack
import numpy as np

data = transform(main_df["full_desc"])
data = hstack((data,np.array(main_df['author'])[:,None]))

data

<246x6316 sparse matrix of type '<class 'numpy.int64'>'
	with 22544 stored elements in COOrdinate format>

In [41]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

X_train, X_test, y_train, y_test = train_test_split(data, 
                                        main_df['rate'], test_size=test_amount,
                                        shuffle=False)

print(X_train.toarray())

trained_model = model.fit(X_train.toarray(), y_train)
pred = trained_model.predict(X_test.toarray())

[[  0   0   0 ...   0   0 162]
 [  0   0   0 ...   0   0 134]
 [  0   0   0 ...   0   0 173]
 ...
 [  0   0   0 ...   0   0 181]
 [  0   0   0 ...   0   0 146]
 [  0   0   0 ...   0   0   1]]

In [42]:
result_df = pd.DataFrame()
result_df["id"] = main_df[mask]["_id"]
result_df["expected_rate"] = pred
result_df

                           id  expected_rate
0    630602ac073e94de49556747            1.0
1    630602ac073e94de4955674d            1.0
2    630602ac073e94de4955674b            1.0
4    630602ac073e94de49556758            1.0
6    630602ac073e94de49556781            1.0
..                        ...            ...
241  630602ac073e94de49556820            3.0
242  630602ac073e94de495567f3            1.0
243  630602ac073e94de4955680a            5.0
244  630602ac073e94de49556818            5.0
245  630602ac073e94de4955682d            3.0

[232 rows x 2 columns]

In [44]:
result_df.sort_values('expected_rate', ascending=False, inplace=True)
display(result_df)
# result_df["id"].head(24).tolist()

                           id  expected_rate
83   630602ac073e94de4955675a            5.0
169  630602ac073e94de495567fb            5.0
148  630602ac073e94de49556753            5.0
175  630602ac073e94de49556807            5.0
127  630602ac073e94de4955675b            5.0
..                        ...            ...
229  630602ac073e94de495567f4            1.0
181  630602ac073e94de49556811            1.0
192  630602ac073e94de49556819            1.0
236  630602ac073e94de49556814            1.0
124  630602ac073e94de495567bf            1.0

[232 rows x 2 columns]

## Book part

In [26]:
def get_books_by_id(bookId):
    cursor = database.books.aggregate([
        {
            '$match' : {'_id' : bookId }
        },
        {
            '$project': {
                'title': '$title',
                'description': '$description',
                'genres': '$genres.name',
                'author': '$author.name'
                }
        }
    ])
    
    return list(cursor)[0]

In [27]:
book = get_books_by_id(ObjectId("630602ac073e94de49556758"))
user_rates = get_rates_by_user(ObjectId("620bb9fef23b1bc78052c5e6"))
bookdIds = [rate["bookId"] for rate in user_rates]
bookdIds.append(book["_id"])

books = get_books_not_in_ids(bookdIds)
books.insert(0, book)
books_df = pd.DataFrame(books)
books_df

books_df.genres = [' '.join(map(str, l)) for l in books_df.genres]
books_df

columns_to_join = ["title", "description", "genres"]
books_df['full_desc'] = books_df[columns_to_join].T.agg(' '.join)
books_df.drop(columns_to_join, axis=1, inplace=True)

books_df["full_desc"] = books_df['full_desc'].apply(text_preprocess)
label_encoder = preprocessing.LabelEncoder()
  
books_df['author']= label_encoder.fit_transform(books_df['author'])

data = transform(books_df["full_desc"])
data = hstack((data,np.array(books_df['author'])[:,None]))

In [28]:
from sklearn.metrics.pairwise import cosine_similarity

result = cosine_similarity(data, [data.toarray()[0]])
mask = books_df["_id"] != ObjectId("630602ac073e94de49556758")
# display(books_df[~mask])
result_df = pd.DataFrame()
result_df["id"] = books_df[mask]["_id"]
result_df["similarity"] = result[1:]
result_df

                           id  similarity
1    630602ac073e94de49556747    0.992749
2    630602ac073e94de49556749    0.994320
3    630602ac073e94de4955674a    0.996042
4    630602ac073e94de4955674b    0.995036
5    630602ac073e94de4955674c    0.982739
..                        ...         ...
227  630602ac073e94de49556838    0.981879
228  630602ac073e94de49556839    0.996258
229  630602ac073e94de4955683a    0.997308
230  630602ac073e94de4955683b    0.996539
231  630602ac073e94de4955683c    0.993741

[231 rows x 2 columns]

In [124]:
text_examples = ["Fiction, Adventure, Action",
"General, Fantasy, Fiction, Mystery",
"Fantasy, Adventure, Fiction",
"Thrillers, Detective, Mystery, Adventure",
"Alien Contact, Superheroes, Adventure"]

result_text = [text_preprocess(text) for text in text_examples]
result_text

def transform(text):
    cv_transf = CountVectorizer()
    cv_transf.fit(text)
    cv_metrix = cv_transf.transform(text)
    return cv_metrix

a = transform(result_text)
a.toarray()

array([[1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0],
       [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1],
       [0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0]], dtype=int64)

In [1]:
from pymongo import MongoClient
from config import *

client = MongoClient()
client = MongoClient(connectionString)
database = client['masters']
database.rates

Collection(Database(MongoClient(host=['masters-shard-00-00.cpq5u.mongodb.net:27017', 'masters-shard-00-02.cpq5u.mongodb.net:27017', 'masters-shard-00-01.cpq5u.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-wrhudr-shard-0', tls=True), 'masters'), 'rates')

In [2]:
rates = database.rates

In [9]:
from bson.objectid import ObjectId

cursor = rates.aggregate([
    { "$match": {"bookId": {"$eq": ObjectId("630602ac073e94de49556747")}}},
    { "$project" : {
        "_id": 0,
        "reviews": 1
    }}
])

list(cursor)

[{'reviews': [{'user': {'_id': ObjectId('620bb9fef23b1bc78052c61e'),
     'name': 'Rowena Mckenzie'},
    'rate': 1,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 6, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c62f'),
     'name': 'Guzman Adkins'},
    'rate': 3,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 3, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c616'),
     'name': 'Short Turner'},
    'rate': 1,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 3, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c624'),
     'name': 'Pearlie Peterson'},
    'rate': 5,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 3, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c620'),
     'name': 'Odessa Lopez'},
    'rate': 2,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 6, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c64d'),
     'name': 'Tanner Allison'},
    'rate': 1,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 3, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c636'),
     'name': 'Gallegos Carr'},
    'rate': 3,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 6, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c5fd'),
     'name': 'Romero Joseph'},
    'rate': 4,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 5, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c61b'),
     'name': 'Bradshaw Boyd'},
    'rate': 1,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 6, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c5db'),
     'name': 'Susan Watson'},
    'rate': 2,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 5, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c5e3'),
     'name': 'Lacy Hudson'},
    'rate': 4,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 5, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c60b'), 'name': 'Bush Ray'},
    'rate': 5,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 5, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c605'),
     'name': 'Quinn Browning'},
    'rate': 3,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 5, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c619'),
     'name': 'Lane Stafford'},
    'rate': 4,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 4, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c5f0'),
     'name': 'Sasha Molina'},
    'rate': 3,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 6, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c64a'),
     'name': 'Morin Gross'},
    'rate': 5,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 4, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c5ed'),
     'name': 'Green Maxwell'},
    'rate': 1,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 6, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c601'),
     'name': 'Sheryl Nielsen'},
    'rate': 2,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 4, 0, 0)}]}]

In [18]:
cursor = rates.aggregate([
        {
            '$match' : {"bookId":ObjectId("630602ac073e94de49556747")}
        },
        # {
        #     "$unwind": "$reviews"
        # },
        {
            '$project': {
                '_id':0,
                'bookId':0
                }
        }
    ])

list(cursor)

[{'reviews': [{'user': {'_id': ObjectId('620bb9fef23b1bc78052c61e'),
     'name': 'Rowena Mckenzie'},
    'rate': 1,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 6, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c62f'),
     'name': 'Guzman Adkins'},
    'rate': 3,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 3, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c616'),
     'name': 'Short Turner'},
    'rate': 1,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 3, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c624'),
     'name': 'Pearlie Peterson'},
    'rate': 5,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 3, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c620'),
     'name': 'Odessa Lopez'},
    'rate': 2,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 6, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c64d'),
     'name': 'Tanner Allison'},
    'rate': 1,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 3, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c636'),
     'name': 'Gallegos Carr'},
    'rate': 3,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 6, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c5fd'),
     'name': 'Romero Joseph'},
    'rate': 4,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 5, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c61b'),
     'name': 'Bradshaw Boyd'},
    'rate': 1,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 6, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c5db'),
     'name': 'Susan Watson'},
    'rate': 2,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 5, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c5e3'),
     'name': 'Lacy Hudson'},
    'rate': 4,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 5, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c60b'), 'name': 'Bush Ray'},
    'rate': 5,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 5, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c605'),
     'name': 'Quinn Browning'},
    'rate': 3,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 5, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c619'),
     'name': 'Lane Stafford'},
    'rate': 4,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 4, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c5f0'),
     'name': 'Sasha Molina'},
    'rate': 3,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 6, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c64a'),
     'name': 'Morin Gross'},
    'rate': 5,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 4, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c5ed'),
     'name': 'Green Maxwell'},
    'rate': 1,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 6, 0, 0)},
   {'user': {'_id': ObjectId('620bb9fef23b1bc78052c601'),
     'name': 'Sheryl Nielsen'},
    'rate': 2,
    'comment': 'Lorem ipsum dolor sit amet..',
    'createdAt': datetime.datetime(2022, 11, 4, 0, 0)}]}]